.border{
    border-style:groove;
    border-color:lemonchiffon red peru ;
    border-radius:0;
    border-width: 3px;
}
h1{
    text-align: center;
    color:rgb(0,234,2);
    
}
body{
    background-color: #212121;
    text-align:center;
}

a{
    font-size: 10px;
}
b{
    color: aquamarine;
    font-size:2em ;
    
}
h4{
    text-align: right;
}










